body {
    margin: 0;
    font-family: Consolas;
    background-color: #223045;
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #16202e;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #46628c;
    color: white;;
  }
  
  .topnav a.active {
    background-color: #344969;
    color: white;
  }